# Auto detect text files and perform LF normalization
* text=auto
*.java linguist-detectable=false
*.cs linguist-detectable=true
*.c linguist-detectable=false
*.s linguist-detectable=false
*.cc linguist-detectable=false
*.cxx linguist-detectable=false
*.cp linguist-detectable=false
*.cpp linguist-detectable=false
*.c++ linguist-detectable=false
*.hpp linguist-detectable=false
*.h linguist-detectable=false
*.h++ linguist-detectable=false
*.hh linguist-detectable=false
*.slo linguist-detectable=false
*.lo linguist-detectable=false
*.o linguist-detectable=false
*.obj linguist-detectable=false
*.gch linguist-detectable=false
*.pch linguist-detectable=false
*.so linguist-detectable=false
*.dylib linguist-detectable=false
*.dll linguist-detectable=false
*.lai linguist-detectable=false
*.la linguist-detectable=false
*.a linguist-detectable=false
*.lib linguist-detectable=false
*.exe linguist-detectable=false
*.out linguist-detectable=false
*.app linguist-detectable=false